.card-link {
    text-decoration: none;
    color: black;
  }
  
  .card-link:hover {
    text-decoration: none;
    color: black;
  }

  .shoe-price {
    font-size: 18px; 
    font-weight: bold; 
  }


  @media screen and (max-width: 768px) {
    .col-sm-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .card-body {
      font-size: 0.8rem; 
    }
  
    .card-title {
      font-size: 0.9rem; 
    }
  
    .card-text,
    .shoe-price {
      font-size: 0.9rem; 
    }

  }
  