body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/assets/images/bg_image.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
}

.header {
   
    color: blue;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.header h1 {
    margin: 0;
}

.stopwatch {
    font-size: 24px;
    width: 100%;
}

#time {
    font-size: 36px;
    margin: 20px 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#datePicker {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}
