/* Login.css - Custom styles for the login component */

.login-background {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  /* .required {
    color: red;
  }
   */
  .login-btn-color{
    background-color: #6b3618;
  }

  .far {
    margin-left: -30px; 
    cursor: pointer;
    padding-top: 20px;
  }

  .password-row {
    display: flex;
    flex-direction: row;
  }

  .form-control {
    /* Your existing styles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add box shadow */
  }


  