

body {
    font-family: Arial, sans-serif;
    background-image: url(/assets/images/bg_image.jpg);
}

.header-text-align{
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.container h2 {
    margin: 0;
    padding: 0;
}

.form-group {
    margin-top: 20px;
    text-align: center;
}

.form-group label {
    display: block;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-group button {
    width: 100px; 
    margin: 5px; 
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.error {
    color: red;
    font-size: 14px;
    display: none;
}

form {
    text-align: left;
}

#button-container {
    display: flex;
    justify-content: space-between;
}

#button-container button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}